# Ignorar tudo
*

# Mas não ignorar o diretório src/agenda
!src/
!src/agenda/
!src/agenda/**

# Ignorar arquivos compilados dentro de src/agenda
src/agenda/**/*.class

# Ignorar arquivos específicos que possam estar dentro de src/agenda que você não queira
src/agenda/.DS_Store
src/agenda/**/.DS_Store