# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs
hs_err_pid*

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
target/

# Maven
log/
target/
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Gradle
.gradle/
build/

# VS Code (caso use)
.vscode/

# OS files
.DS_Store
Thumbs.db